@mixin avatar($size) {
  line-height: $size;

  .avatar__image {
    max-height: $size;
    max-width: $size;
    border-radius: $size / 2;
  }
}

.avatar {
  @include avatar(2em); // Default size

  &.small {
    @include avatar(1em);
  }

  &.large {
    @include avatar($blockSize);
  }
}

.avatar__image {
  float: left;
  overflow: hidden;

  .is-selected &,
  .panel-nav__item:hover & {
    background-color: $colorBrand;

    img {
      opacity: 0.2;
    }
  }
}

.avatar__body {
  overflow: auto;
  padding-left: 0.5em;
}
