* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  $checkerboardSize: 1.5em;
  @include checkerboard($colorGray, white, 1.5em);
  font-family: "work sans", "helvetica neue", helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: $colorGrayDark;
}

a {
  cursor: pointer;
  color: $colorBrand;
  text-decoration: underline;

  &:hover {
    color: lighten($colorBrand, 10%);
  }

  &:visited {
    color: desaturate($colorBrand, 20%);
  }
}

h1,
h2 {
  text-transform: uppercase;
  letter-spacing: 0.02em;
  margin-bottom: 1em;
}

h3,
h4 {
  margin-bottom: 0.5em;
}

p {
  margin: 0 0 0.5em 0;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

label {
  font-size: 0.75em;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}

input,
textarea {
  color: inherit;
  appearance: none;
  border: 2px solid;
  background-color: transparent;
  padding: 0.25em 0.5em;
  display: block;
  width: 100%;
}

input {
  line-height: 2em;
}

button {
  appearance: none;
  background-color: $colorBrand;
  color: white;
  font-weight: bold;
  line-height: 2em;
  border: 0;
  padding: 0 1em;

  &:hover {
    background-color: lighten($colorBrand, 10%);
  }

  &:active {
    background-color: darken($colorBrand, 10%);
  }
}

input,
textarea,
button {
  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba($colorBrand, 0.2);
    border-color: $colorBrand;
  }
}

.avatar {
  $size: 2em;
  line-height: $size;

  &__image {
    float: left;
    margin-right: 0.5em;
    max-height: $size;
    max-width: $size;
    border-radius: $size / 2;
    border: 1px solid;
  }

  &__body {
    overflow: auto;
  }
}

.block {
  height: $blockSize;
  width: $blockSize;
  display: inline-block;
  line-height: $blockSize;
  text-align: center;
  text-decoration: none;

  &:hover,
  &.is-selected {
    background-color: $colorGrayMid;
  }

  &.is-selected {
    cursor: default;
  }

  &.brand {
    background-color: $colorBrand;
    color: white;
    border: 0;
    fill: white;
  }
}
