* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@mixin selection {
  background-color: $colorBrand;
  color: white;
}

::-moz-selection {
  @include selection;
}

::selection {
  @include selection;
}

html,
body {
  font-family: "work sans", "helvetica neue", helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: $colorGray;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: $colorGrayMid;

}

a {
  cursor: pointer;
  color: $colorBrand;
  fill: $colorBrand;
  text-decoration: underline;

  &:hover {
    color: $colorBrandLight;
    fill: $colorBrandLight;
  }

  &:visited {
    color: desaturate($colorBrand, 20%);
  }

  svg {
    position: relative;
    top: 2px;
  }
}

h1,
h2 {
  @include uppercase;
  margin-bottom: 1em;
}

p {
  margin: 0 0 1em 0;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.wrapper {
  min-height: 100vh;
}

.banner {
  // Always at the top of a panel
  @include uppercase;
  background-color: $colorPositive;
  color: $colorGray;
  padding: 1em;
  margin-bottom: $offset;
  fill: $colorGray;
  margin: -1em -1em 1em;
}
