* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@mixin selection {
  background-color: $colorBrand;
  color: white;
}

::-moz-selection {
  @include selection;
}

::selection {
  @include selection;
}

html,
body {
  $checkerboardSize: 1.5em;
  @include checkerboard($colorGrayDark, darken($colorGrayDark, 1%), 1.5em);
  font-family: "work sans", "helvetica neue", helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: $colorGray;
  overflow-x: hidden;
  overflow-y: auto;
}

a {
  cursor: pointer;
  color: $colorBrand;
  fill: $colorBrand;
  text-decoration: underline;

  &:hover {
    color: lighten($colorBrand, 10%);
    fill: lighten($colorBrand, 10%);
  }

  &:visited {
    color: desaturate($colorBrand, 20%);
  }

  svg {
    position: relative;
    top: 2px;
  }
}

h1,
h2 {
  @include uppercase;
  margin-bottom: 1em;
}

p {
  margin: 0 0 1em 0;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.wrapper {
  min-height: 100vh;
}

.menu {
  position: absolute;
  padding: 0.5em;
  background-color: $colorGrayDark;
  color: $colorGray;
  min-width: 10em;
  transform-origin: top center;
}

.menu__item {
  padding: 0 0.5em;
  line-height: 2;
  display: block;
  cursor: pointer;
  font-weight: bold;

  &:hover {
    background-color: $colorBrand;
  }

  .icon {
    margin-right: 0.5em;
    fill: $colorGrayMid;
    position: relative;
    top: 0.3em;
  }
}

.menu-enter {
  opacity: 0.01;
  transform: translateY(-1em) scale3d(1, 0.75, 1);

  &.menu-enter-active {
    opacity: 1;
    transform: translateY(0) scale3d(1, 1, 1);
    transition: all 0.15s $ease-in-out-back;
  }
}

.menu-leave {
  opacity: 1;
  transform: translateY(0) scale3d(1, 1, 1);

  &.menu-leave-active {
    opacity: 0.01;
    transform: translateY(-1em) scale3d(1, 0.75, 1);
    transition: all 0.2s $ease-in-out-back;
  }
}
