@mixin block-size($size) {
  height: $size;
  width: $size;
  border-radius: $size / 2;
}

.block {
  @include block-size($blockSize);
  display: inline-block;
  line-height: $blockSize;
  text-align: center;
  text-decoration: none;
  fill: $colorGrayDark;
  background-color: $colorGrayMid;
  position: relative;

  &:hover,
  &.is-selected {
    background-color: $colorBrand;
    fill: $colorGray;
  }

  &.is-selected {
    cursor: default;
  }

  &.brand {
    background-color: $colorBrand;
    color: $colorGray;
    border: 0;
    fill: $colorGray;
  }

  &.delete {
    fill: $colorNegative;

    &:hover {
      background-color: $colorNegative;
      fill: $colorGray;
    }
  }

  &.small {
    @include block-size($blockSizeSmall);
  }

  &.icon {
    padding: 0.5em;
  }

  &.action {
    cursor: pointer;
  }

  + .block {
    margin-left: 0.5em;
  }

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
}
