@mixin block-size($size) {
  height: $size;
  width: $size;
  border-radius: $size / 2;
}

@keyframes badge {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.block {
  @include block-size($blockSize);
  display: inline-block;
  line-height: $blockSize;
  text-align: center;
  text-decoration: none;
  fill: $colorGrayDark;
  background-color: $colorGrayMid;
  position: relative;

  &:hover,
  &.is-selected {
    background-color: $colorBrand;
    fill: $colorGray;
  }

  &.is-selected {
    cursor: default;
  }

  &.is-good,
  &.is-bad {
    fill: $colorGrayDark;
  }

  &.is-good {
    background-color: $colorPositive;
  }

  &.is-bad {
    background-color: $colorNegative;
  }

  &.delete {
    fill: $colorNegative;

    &:hover {
      background-color: $colorNegative;
      fill: $colorGray;
    }
  }

  &.small {
    @include block-size($blockSizeSmall);
  }

  &.tiny {
    @include block-size(1.5em);
  }

  &.icon {
    padding: 0.5em;
  }

  &.action {
    cursor: pointer;
  }

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
}

.block__badge {
  $size: 2em;
  $margin: -($size * 0.25);
  animation: badge 0.3s $ease-in-out-back;
  background-color: $colorGrayDark;
  border-radius: $size / 2;
  color: $colorGray;
  font-size: 0.75em;
  height: $size;
  line-height: $size;
  margin: $margin $margin 0 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: $size;
}
