.comments {

}

.comment {
  @include clearfix;

  + .comment {
    margin-top: 2em;
  }
}

.comment__header {
  @include clearfix;

  h4 {
    float: left;
  }

  small {
    float: right;
  }
}

.comment__body {
  overflow: auto;
  padding-left: 0.5em;
}

.comment__new {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1em;
  width: $panelWidth;

  .panel & {
    background-color: white;
  }

  .image & {
    background-color: darken($colorGrayDark, 3%);
    color: $colorGrayDark;
  }

  .avatar {
    position: absolute;
    top: 1.5em;
    left: 1.5em;
  }

  input {
    padding-left: 3em;
  }
}

.comments__no-content {
  @include uppercase;
  color: $colorGrayMid;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate3d(-50%, -50%, 0);
}
