.comment {
  position: relative;

  + .comment {
    margin-top: 1.5em;
  }

  &:hover,
  &.is-hovered {
    background-color: white;
  }
}

.comment__header {
  @include clearfix;

  h4 {
    float: left;
  }
}

.comment__header__meta {
  float: right;
}

.pin.comment__pin__toggle {
  position: relative;
  margin: 0 0 0 0.25em;
  box-shadow: none;
  top: 3px; // Magic
  z-index: auto;

  &.is-unpinned {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px $colorBrand;
  }
}

.comment__settings__toggle {
  position: relative;
  margin-left: 0.25em;
  cursor: pointer;
  top: 5px; // Magic

  &:hover {
    fill: $colorBrand;
  }
}

.comment__settings__menu {
  top: 1.5em;
  right: 0;
  z-index: 1;
}

.comment__body {
  overflow: auto;
  padding-left: 0.5em;
}

.comment__content {

}

.comment__new {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1em;
  width: $panelWidth;
  background-color: white;

  .avatar {
    position: absolute;
    top: 1.5em;
    left: 1.5em;
  }

  input {
    padding-left: 3em;
  }
}

.comment__pin__toggle {
  $height: 1.5em;
  padding: 0 0.5em;
  line-height: $height;
  display: inline-block;
  background-color: $colorGrayMid;
  position: relative;
  border-radius: $height / 2;

  .pin {
    margin: 0.25em 0.25em 0 0;
    box-shadow: none;
    position: static;
  }
}

.comments__no-content {
  @include uppercase;
  color: $colorGrayMid;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate3d(-50%, -50%, 0);
}

.comment-enter {
  opacity: 0.01;
  transform: scale(0.5);

  &.comment-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: all 0.2s $ease-in-out-back;
  }
}

.comment-leave {
  opacity: 1;
  transform: scale(1);

  &.comment-leave-active {
    opacity: 0.01;
    transform: scale(1.5);
    transition: all 0.1s $ease-in-out-back;
  }
}
