.get-started {
  color: $colorGrayDark;
  left: 50%;
  max-width: 20em;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.get-started__content {
  position: relative;
  z-index: 1;

  button {
    margin-bottom: 0.5em;
  }
}

.get-started__background {
  fill: $colorGray;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}
