.get-started {
  $size: 25em;
  @include center(fixed);
  color: $colorGrayDark;
  width: $size;
  height: $size;
  border-radius: $size / 2;
  background-color: $colorGray;
  text-align: center;
  padding: 5em;
}

.get-started__content {
  @include center;
  z-index: 1;

  button {
    margin-bottom: 0.5em;
  }
}
