// SOURCE: http://codepen.io/tmrDevelops/pen/vOBqrY
@keyframes jiggle {
  48%, 62% {
    transform: scale(1.0, 1.0)
  }
  50% {
    transform: scale(1.1, 0.9)
  }
  56% {
    transform: scale(0.9, 1.1) translate(0, -5px)
  }
  59% {
    transform: scale(1.0, 1.0) translate(0, -3px)
  }
}

.header {
  align-content: stretch;
  background-color: $colorGray;
  color: $colorGrayDark;
  display: flex;
  height: 5em;
  line-height: $blockSize;
  padding: 1em $offset;
  position: relative;
  user-select: none;
  z-index: 9;

  .panel-nav {
    position: absolute;
    right: $offset;
    z-index: 1;
  }
}

.header__brand {
  fill: $colorGrayMid;
  left: $offset;
  position: absolute;
  z-index: 1;

  &:hover,
  &.has-toast {
    fill: $colorBrand;
  }

  &.has-toast {
    animation: jiggle 2.0s ease-in infinite;
  }
}

.header__title {
  @include ellipsis;
  margin: auto 0;
  padding: 0 25%;
  text-align: center;
  width: 100%;

  &.has-panel {
    padding: 0 10%;
    width: 100vw - $panelWidth;
  }

  input {
    line-height: 0.5;
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: $colorBrand;
      text-decoration: underline;
    }
  }
}
