$headerShadow: 0 0 3px rgba($colorGrayDark, 0.2), 0 0 10px rgba($colorGrayDark, 0.1), 0 0 20px rgba($colorGrayDark, 0.1);

.header {
  line-height: $blockSize;
  display: flex;
  align-content: stretch;
  background-color: $colorGray;
  color: $colorGrayDark;
  position: relative;
  box-shadow: $headerShadow;
  z-index: 99;
  padding: 1em;

  .avatar {
    position: absolute;
    right: 1em;
  }

  .panel-nav {
    position: absolute;
    right: 5em;
  }
}

.header__title {
  display: inline-block;
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}
