.header {
  line-height: $blockSize;
  display: flex;
  align-content: stretch;
  background-color: $colorGray;
  color: $colorGrayDark;
  position: relative;
  z-index: 9;
  padding: 1em $offset;
  border-bottom: 1px solid black;
  height: 5em;

  .panel-nav {
    position: absolute;
    right: $offset;
    z-index: 1;
  }
}

.header__brand {
  fill: $colorBrand;
  top: 0.5em;
  position: absolute;
  left: $offset;
  z-index: 1;
}

.header__title {
  @include ellipsis;
  margin: auto;
  text-align: center;
  width: 50%;

  input {
    line-height: 0.5;
  }
}

.header__subtitle {
  line-height: 1;
  display: block;
  margin-bottom: -0.4em;
  margin-top: -0.1em;
}
