$colorBrand: blue;
$colorGray: #f7f7f7;
$colorGrayDark: #444;

$maxWidth: 70em;
$thumbnailOffset: 0.5em;

@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

@mixin prefixer($property, $value) {
     -moz-#{$property}: $value;
  -webkit-#{$property}: $value;
          #{$property}: $value;
}
