.image {
  background-color: darken($colorGrayDark, 10%);
  color: $colorGray;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
}

.image__main {
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 5em;
  width: 100vw;

  .has-panel & {
    width: 100vw - $panelWidth;
  }
}

.image__header {
  display: flex;
  padding-bottom: 0.5em;

  input {
    &:focus {
      background-color: $colorGrayDark;
    }
  }
}

.image__title {
  flex: 1;

  p {
    margin: 0;
  }
}

.pagination {
  margin-left: 1em;
}

a.pagination__link {
  @include uppercase;
  border-bottom: 2px solid transparent;
  color: $colorBrandDark;
  padding: 0.25em 0;
  text-decoration: none;

  + .pagination__link {
    border-left: 0;
    margin-left: 1em;
  }

  &:hover {
    border-color: $colorBrand;
    color: $colorBrand;
  }
}

.image__img {
  margin: auto;
  max-height: 100%;
  max-width: 100%;
}
