.image {
  background-color: darken($colorGrayDark, 10%);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}

.image__main {
  position: absolute;
  top: 5em;
  left: 0;
  bottom: 0;
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;

  .has-panel & {
    width: 100vw - $panelWidth;
  }
}

.image__img {
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
