$imageBackgroundColor: darken($colorGrayDark, 10%);

.image {
  background-color: $imageBackgroundColor;
  color: $colorGray;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
}

.image__main {
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 5em;
  width: 100vw;

  .has-panel & {
    width: 100vw - $panelWidth;
  }
}

.pagination {
}

.pagination__link {
  $size: 3em;
  position: absolute;
  top: 50%;
  z-index: 9;
  transform: translateY(-50%);
  width: $size;
  height: $size;
  line-height: $size;
  border-radius: $size / 2;
  background-color: rgba($imageBackgroundColor, 0.8);
  fill: $colorGrayMid;

  &:hover {
    background-color: $colorGrayDark;
    fill: $colorGray;
  }

  svg {
    @include center;
  }
}

.pagination__prev {
  left: 1em;
}

.pagination__next {
  right: 1em;
}

.image__img {
  margin: auto;
  max-height: 100%;
  max-width: 100%;
}
