.onboarding {
  margin: 4em auto 0;
  color: $colorBrandDark;
  max-width: 30em;
  padding: 2em;
  margin: auto;
  text-align: center;
}

.onboarding__message {
  font-size: 1.5em;
  line-height: 1.3;
  font-weight: bold;
}

.onboarding__button {
  @include uppercase;
  color: $colorGray;
  width: 100%;
  text-decoration: none;
  margin: 1em auto;
  width: 80%;
}

.onboarding__button__final {
  background-color: $colorBrandDark;

  &:hover {
    background-color: lighten($colorBrandDark, 3%);
  }
}

.onboarding__footer {
  color: $colorGrayDark;
}
