$panelTiming: 0.2s;

@keyframes panelContainer {
  0% {
    transform: translate3d(100%, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

.panel__container {
  animation: panelContainer $panelTiming ease-in-out;
  width: $panelWidth;
  background-color: white;
  z-index: 99;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
}

.panel__header {
  padding: 1em;
  position: relative;
  z-index: 1;
}

.panel__close {
  position: absolute;
  top: 1em;
  right: 1em;
  cursor: pointer;
}

.panel__scroll {
  position: absolute;
  top: 5em;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: $colorGray;
  color: $colorGrayDark;
}

.panel__scroll_comments {
  bottom: 5em;
}

.panel__content {
  padding: 1em;
}
