.panel__container {
  width: $panelWidth;
  background-color: white;
  z-index: 99;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
}

.panel__header {
  padding: 1em;
  position: relative;
  z-index: 1;
}

.panel__close {
  position: absolute;
  top: 1em;
  right: 1em;
  cursor: pointer;
}

.panel__scroll {
  position: absolute;
  top: 5em;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: $colorGray;
  color: $colorGrayDark;
}

.panel__scroll_comments {
  bottom: 5em;
}

.panel__content {
  padding: 1em;
}

.panel__banner {
  // Always at the top of a panel
  @include uppercase;
  background-color: $colorPositive;
  color: $colorGray;
  padding: 1em;
  margin-bottom: $offset;
  fill: $colorGray;
  margin-bottom: 1em;
}
