$panelTiming: 0.2s;

@keyframes panelContainer {
  0% {
    transform: translate3d(100%, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes panelBackground {
  0% {
    opacity: 0;
    transform: translate3d(50%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.panel__container {
  animation: panelContainer $panelTiming ease-in-out;
  transition: $panelTransition;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: $panelWidth;
  background-color: white;
  z-index: 99;
}

.panel__header {
  padding: 1em;
}

.panel__close {
  position: absolute;
  top: 1em;
  right: 1em;
}

.panel__content {
  padding: 1em;
  position: absolute;
  top: 5em;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: $colorGray;
  color: $colorGrayDark;

  &_comment {
    bottom: 4.75em;
  }
}

.panel__background {
  @include checkerboard(rgba($colorBrand, 0.3), rgba($colorBrand, 0.8), 1.5em);
  animation: panelBackground $panelTiming ease-in-out;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 98;
}
