.pins {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.pin {
  $size: 1em;
  $margin: -($size / 2);
  width: $size;
  height: $size;
  border-radius: $size / 2;
  background-color: $colorBrand;
  position: absolute;
  margin: $margin 0 0 $margin;

  .comment & {
    position: static;
    margin: 0;
  }
}

.pin__toggle {
  $size: 2em;
  width: $size;
  height: $size;
  border-radius: $size / 2;
  border: 3px solid $colorBrand;
  display: inline-block;
  user-select: none;

  &.show-pins {
    background-color: $colorBrand;
  }
}

// .pins-enter {
//   opacity: 0.01;
//   transform: scale(0.8);
// }
//
// .pins-enter.pins-enter-active {
//   opacity: 1;
//   transform: scale(1);
//   transition: opacity 0.3s cubic-bezier(0.680, -0.550, 0.265, 1.550);
// }
//
// .pins-leave {
//   opacity: 1;
//   transform: scale(1);
// }
//
// .pins-leave.pins-leave-active {
//   opacity: 0.01;
//   transform: scale(0.8);
//   transition: opacity 0.3s cubic-bezier(0.680, -0.550, 0.265, 1.550);
// }
