.pins {
  position: relative;

  &.is-pinning {
    cursor: crosshair;
  }
}

.pin {
  $size: 1.5em;
  $margin: -($size / 2);
  background-color: $colorBrand;
  border-radius: $size / 2;
  cursor: pointer;
  display: inline-block;
  fill: $colorGrayDark;
  height: $size;
  margin: $margin 0 0 $margin;
  padding: 0.25em;
  position: absolute;
  transition: transform 0.1s ease-in-out;
  width: $size;
  z-index: 1;

  &:hover,
  &.is-hovered {
    transform-origin: 50% 50%;
    transform: scale(1.5);
  }

  &.is-good {
    background-color: $colorPositive;
  }

  &.is-bad {
    background-color: $colorNegative;
  }
}
