.pins {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.pin {
  $size: 1em;
  $margin: -($size / 2);
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  width: $size;
  height: $size;
  border-radius: $size / 2;
  background-color: $colorBrand;
  position: absolute;
  margin: $margin 0 0 $margin;
  display: inline-block;

  &:hover,
  &.is-hovered {
    transform-origin: 50% 50%;
    transform: scale(1.5);
  }

  .comment & {
    position: static;
    margin: 0 0.25em 0 0;
  }
}
