.project {

}

.project__description {
  margin-bottom: 2em;
  padding-bottom: 1em;
  border-bottom: 2px solid $colorGrayMid;
}

.project__no-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  text-align: center;
  color: rgba($colorGray, 0.3);

  h3 {
    padding-bottom: 0.5em;
  }
}
