@keyframes overlay {
  0% {
    opacity: 0;
    transform: scale(0.75);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.thumbnails {
  @include prefixer(columns, 3);
  @include prefixer(column-gap, 0);
  position: relative;

  .has-panel & {
    @include prefixer(columns, 2);
    padding-right: $offset;
  }
}

.thumbnail {
  cursor: -webkit-grab;
  cursor:    -moz-grab;
  cursor:         grab;
  position: relative;
  width: 100%;
  overflow: visible;

  &:last-of-type {
    margin-bottom: 0;
  }

  img {
    display: block;
    height: auto;
    width: 100%;
  }
}

.thumbnail__overlay {
  animation: overlay 0.1s ease-in-out;
  background-color: rgba($colorBrand, 0.8);
  bottom: 0;
  color: $colorGray;
  display: none;
  fill: $colorGray;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;

  .thumbnail:hover & {
    display: block;
  }
}

.thumbnail__overlay__label {
  @include center($transform: scale(1));
  cursor: zoom-in;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;

  &:hover {
    transform: translate3d(-50%, -50%, 0) scale(1.25);
  }
}

.thumbnail__actions {
  color: white;
  display: none;
  position: absolute;
  right: 1em;
  top: 1em;

  .block {
    cursor: pointer;
    background-color: $colorGray;
    fill: $colorGrayDark;

    &:hover {
      background-color: $colorGray;
    }

    .block__label {
      color: $colorGrayDark;
    }

    + .block {
      margin-left: 0.25em;
    }
  }

  .delete {
    fill: $colorNegative;

    &:hover {
      background-color: $colorNegative;
    }

    .block__label {
      color: $colorGray;
    }
  }

  .thumbnail:hover & {
    display: block;
  }
}
