@keyframes overlay {
  0% {
    transform: scale(0.75);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.thumbnails {
  @include prefixer(columns, 3);
  @include prefixer(column-gap, 0);
  position: relative;
  overflow: hidden;

  .has-panel & {
    @include prefixer(columns, 2);
    padding-right: $offset;
  }
}

.thumbnail {
  cursor: zoom-in;
  // display: inline-block;
  position: relative;
  width: 100%;
  // margin-bottom: 0.5em;
  // border: 1px solid $colorGrayDark;

  &:last-of-type {
    margin-bottom: 0;
  }

  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

.thumbnail__overlay {
  @include checkerboard(rgba($colorBrand, 0.3), rgba($colorBrand, 0.8), 1.5em);
  animation: overlay 0.1s $ease-in-out-back;
  bottom: 0;
  color: $colorGray;
  left: 0;
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  fill: $colorGray;

  .thumbnail:hover & {
    display: block;
  }
}

.thumbnail__overlay__label {
  transition: transform 0.1s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0) scale(1);

  &:hover {
    transform: translate3d(-50%, -50%, 0) scale(1.25);
  }
}

.thumbnail__actions {
  color: white;
  display: none;
  position: absolute;
  top: 1em;
  right: 1em;

  .block {
    cursor: pointer;

    svg {
      fill: $colorBrand;
    }

    &:hover {
      svg {
        fill: $colorGray;
      }
    }

    + .block {
      margin-left: 0.5em;
    }
  }

  .thumbnail:hover & {
    display: block;
  }
}
