.image-uploader {
  @include checkerboard(rgba($colorBrand, 0.5), rgba($colorBrand, 0.98), 1.5em);
  position: fixed;
  z-index: 99;
  top: 0.5em;
  left: 0.5em;
  bottom: 0.5em;
  right: 0.5em;
  padding: 3em;
  text-align: center;
  color: $colorGray;
}

.image-uploader__message {
  @include uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  font-size: 1.5em;
}

.image-uploader__close {
  position: absolute;
  top: 1em;
  right: 1em;
  fill: $colorGray;
  cursor: pointer;

  &:hover {
    fill: $colorGrayMid;
  }
}

// .uploader-enter {
//   opacity: 0.01;
//   transform: scale(0.75);
//
//   &.uploader-enter-active {
//     opacity: 1;
//     transform: scale(1);
//     transition: all 0.25s $ease-in-out-back;
//   }
// }
//
// .uploader-leave {
//   opacity: 1;
//   transform: scale(1);
//
//   &.uploader-leave-active {
//     opacity: 0.01;
//     transform: scale(1.5);
//     transition: all 0.3s $ease-in-out-back;
//   }
// }
