.image-uploader {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba($colorBrand, 0.9);
  padding: 3em;
  text-align: center;
  color: $colorGray;
}

.image-uploader__message {
  @include uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  font-size: 1.5em;
}

.image-uploader__close {
  position: absolute;
  top: 1em;
  right: 1em;
  fill: $colorGray;
}
